@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lexend deca', sans-serif;
    position: relative;
}

.container {
    margin: 0;
    top: 50%;
    left: 20%;
    transform: translate(1%, 50%);
    width: 800px;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: hsla(0, 0%, 100%, 0.75);
}

img {
    margin-bottom: 30px;
}

p {
    margin-bottom: 30px;
    font-weight: 400;
}

a {
    cursor: pointer;
    border: hsl(0, 0%, 95%) solid 1.5px;
    border-radius: 50px;
    text-decoration: none;
    color: hsl(0, 0%, 95%);
    padding: 5px;
    font-size: 13px;
}

a:hover {
    background: white;
    color: black;
}

h1 {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
    color: hsl(0, 0%, 95%);
}

.container .card-1 {
    font-size: 15px;
    text-align: left;
    padding: 30px 30px;
    background: hsl(31, 77%, 52%);
}

.container .card-2 {
    font-size: 15px;
    text-align: left;
    padding: 30px 30px;
    background: hsl(184, 100%, 22%);
}

.container .card-3 {
    font-size: 15px;
    text-align: left;
    padding: 30px 30px;
    background: hsl(179, 100%, 13%);
}

@media only screen and (max-width: 500px) {
  .container {
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
  }
}
