@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}


.navbar {
    background: hsl(0, 0%, 98%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    line-height: 25px;
}

.navbar span {
    float: left;
    padding: 0 5px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: 500;
    border-right: 2px solid red;
    border-bottom: 2px solid blue;
    border-bottom-right-radius: 12px;
    
}
.navbar ul {
    overflow: auto;
}
.navbar li {
    list-style: none;
    float: left;
    padding: 10px 15px;
}

.navbar a {
    font-weight: 500;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    display: block;
    padding: 5px;
    text-transform: capitalize;
    text-align: left;
}

.navbar a:hover {
    text-decoration: underline;
    border-radius: 10px;
}

.navbar dropbox {
    display: inline-block;
    position: relative;
}

.navbar .drop-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 100px;
    background: hsl(0, 0%, 98%);
    margin-top: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

.dropbox:hover .drop-content {
    display: block;
}

.right-items {
    float: right;
    margin-right: 35px;
}

.right-items a:hover {
    text-decoration: underline;
    border-radius: 10px;
}

/*section styles*/

section {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.textbox .col  {
    position: relative;
    margin: 120px 0;
    float: left;
    width: 45%;
}

.textbox .col h1 {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 40px;
}

.textbox .col p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 40px;
    color: hsl(0, 0%, 41%);
}

.textbox .col a {
    text-decoration: none;
    padding: 12px;
    background: black;
    border-radius: 8px;
    color: hsl(0, 0%, 98%);
    font-size: 15px;
}

.textbox .col a:hover {
    background: white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
}

.img-container img {
    margin: 50px 0;
    width: 380px;
    height: auto;
    float: right;
}

.contributers {
    display: block;
    position: absolute;
    transform: translateY(1300%);
}

.contributers img {
    padding-left: 10px;
}